nav {
    top: 0;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    font-size: 120%;
}
nav a {
    text-decoration: none;
    display: block;
    border: 1px solid #475F8E;
    background-color: #303239;
    color: #87AEF8;
    padding: 0.5em;
}
nav a:hover {
    background-color: #87AEF8;
    color: #303239;
}
i {
    margin-right: 15px;
}


body {
    background-image: url("images/stardew_night.png");
    background-repeat: no-repeat;
    background-position: sticky;
    background-attachment: fixed;
}
header {
    font-family: "Fraunces", serif;
    margin-left: 7em;
    margin-right: 7em;
    background-color: #4067B7;
    opacity: 0.7;
    padding: 2em;
    margin-bottom: 1.5em;
    color: white;
}
h1, h2, h3 {
    font-family: "Fraunces", serif;
    font-weight: 600;
}


main {
    font-family: "Open Sans", sans-serif;
    margin-left: 7em;
    margin-right: 7em;
    background-color: white;
    opacity: 0.7;
    padding: 3em;
}
main p, main ul {
    width: 30vw;
}
main.content {
    display: flex;
    justify-content: space-between;
}