body {
    background-image: url("images/stardew_night.png");
    background-repeat: no-repeat;
    background-position: sticky;
    background-attachment: fixed;
}
header {
    font-family: "Fraunces", serif;
    margin-left: 7em;
    margin-right: 7em;
    background-color: #4067B7;
    opacity: 0.7;
    padding: 2em;
    margin-bottom: 1.5em;
    color: white;
}
h1, h2, h3 {
    font-family: "Fraunces", serif;
    font-weight: 600;
}



main {
    font-family: "Open Sans", sans-serif;
    margin-left: 7em;
    margin-right: 7em;
    background-color: white;
    opacity: 0.7;
    padding: 3em;
}
aside {
    width: 20vw;
    border: 3px solid #145DE6;
    padding: 0.8em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    display: grid;
    grid-template-columns: 5vw auto 10vw;
    grid-template-rows: 1.5vw auto;
    grid-template-areas: 
        "image item item"
        "image info info";
    padding: 0.5em;
}
aside:hover {
    border: 3px solid #303239;
}
aside.striked {
    text-decoration: line-through;
    background-color: #303239;
    color: #87AEF8;
}
figure {
    margin: 0px;
    grid-area: image;
}
dt {
    grid-area: item;
}
dd {
    grid-area: info;
}